<div class="container collage-block">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Image profiles</mat-card-title>
            <mat-card-subtitle>Aded images</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-2" id="avatar" *ngFor="let src of sources">
                    <pip-picture-edit src={{src}} defaultIcon="face" (onImageLoad)="onImageLoad($event)" (onImageDelete)="onImageDelete($event)">
                    </pip-picture-edit>
                </div>
                <div>
                    <pip-add-image (onImageLoad)="onImageLoad($event)">
                        <img src="./assets/add-icon.png">
                    </pip-add-image>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>