<nav class="navbar navbar-light bg-light justify-content-center">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" data-toggle="tab" routerLink="/Add-avatars" role="tab" aria-selected="true">Edit avatars</a>
        <a class="nav-item nav-link " data-toggle="tab" routerLink="/Ganerate-collages" role="tab" aria-selected="false">Collage</a>
        <a class="nav-item nav-link" data-toggle="tab" routerLink="/Focused-pictures" role="tab" aria-selected="false">Focused pictures</a>
    </div>
</nav>

<router-outlet></router-outlet>